@charset "utf-8";
/* CSS Document */
.clearDiv{ clear:both;}
.clear-left{ clear:left;}
.clear-right{ clear:right}

.displayhiddens{ display:none;}
.disblackblock{ display:block;}


.lineheight22{ line-height:22px;}
.lineheight18{ line-height:18px;}
.lineheight15{ line-height:15px;}
.lineheight16{ line-height:16px;}
.lineheight18{ line-height:18px;}
.lineheight20{ line-height:20px;}
.lineheight25{ line-height:25px;}
.lineheight30{ line-height:30px;}

.font18yhweight{ font-size:18px; font-weight:bold; font-family:"微软雅黑"}
.font14weight{ font-size:14px; font-weight:bold;}
.font14normal{ font-size:14px; font-weight:normal;}
.font12normal{ font-size:12px; font-weight:normal;}
.font12weight{ font-size:12px; font-weight:bold;}
.font16normal{ font-size:16px; font-weight:normal;}
.font16weight{ font-size:16px; font-weight:bold;}
.font24weigth{ font-size:24px; font-weight:bold; font-family:"微软雅黑";}

.fontfamilyyh{ font-family:"微软雅黑";}
.fontfamilyairal{ font-family:Arial, Helvetica, sans-serif;}
.fontfamilysong{font-family:"宋体";}
.fongfamilyht{font-family:"黑体";}

.positionrela{ position:relative;}
.positionabs{ position:absolute;}
.positionfix{ position:fixed;}
.positionstatic{ position:static;}

.cursorPointer{}
.fontThrough{ color:#9e9e9e; text-decoration:line-through;}
.textcolor525252{ color:#525252;}
.textcolor9e9e9e{ color:#9e9e9e;}

.floatleft_inline{ float:left; display:inline}
.floatright_inline{ float:right; display:inline;}
.float_left{float:left;}
.float_right{float:right;}
.displayInline{ display:inline}

.tdpaddingLeft{ padding-left:8px;}
.textLeft{ text-align:left;}
.textRight{ text-align:right;}
.textCenter{ text-align:center;}
.textJusty{ text-align:justify;}
.textindent{ text-indent:26px;}
.textindent92{ text-indent:92px;}
.textindent10{text-indent:10px;}
.textindent12{ text-indent:12px;}
.textindent14{ text-indent:14px;}
.textindent18{ text-indent:18px;}
.textindent80{ text-indent:85px;}
.textindent5{text-indent:5px;}
.textvalign{ vertical-align:middle;}

.bdr3{border:0;}
.padding5{ padding:5px;}
.padding10{ padding:10px;}
.padding4{ padding:4px;}
.marginboth{ margin:0 15px;}
.padding2{ padding:2px;}
.padding-right15{ padding-right:15px;}
.padding-right20{ padding-right:20px}
.padding-left15{padding-left:15px;}
.padding-left18{ padding-left:18px;}
.padding-left2{ padding-left:4px;}
.padding-left5{ padding-left:5px;}
.padding-left{ padding-left:20px;}
.paddingbttom10{ padding-bottom:10px;}
.paddingbttom15{ padding-bottom:15px;}
.paddingbttom20{ padding-bottom:20px;}
.paddingbttom25{ padding-bottom:25px;}
.paddingbttom30{ padding-bottom:30px;}

.margin-right4{margin-right:4px;}
.margin-right140{margin-right:140px;}
.margin-right16{margin-right:16px;}
.margin-right35{margin-right:30px;}
.margin-right92{margin-right:92px;}
.margin-right10{margin-right:10px;}
.margin-right42{margin-right:42px;}
.margin-right26{ margin-right:26px;}
.margin-right9{margin-right:9px;}

.margin-left1{margin-left:1px;}
.margin-left2{ margin-left:2px;}
.margin-left4{ margin-left:4px;}
.margin-left{margin-left:22px;}
.margin-leftSmall{ margin-left:15px;}
.margin-left5{margin-left:5px;}
.margin-left6{margin-left:6px;}
.margin-left7{margin-left:7px;}
.margin-left8{margin-left:8px;}
.margin-left9{margin-left:9px;}
.margin-left10{margin-left:10px;}
.margin-left12{margin-left:12px;}
.margin-left13{margin-left:13px;}
.margin-left15{margin-left:15px;}
.margin-left20{margin-left:20px;}
.margin-left25{margin-left:25px;}

.textcolorfff{ color:#fff;}
.textcolor000{color:#000;}
.textcolor010101{color:#010101;}
.textcolorb0b0b0{color:#b0b0b0;}
.textcolor4bb31f{color:#4bb31f;}
.textcolorc6c6c6{color:#c6c6c6;}
.textcoloree6909{color:#ee6909;}
.textcolor7dcbff{color:#7dcbff;}
.textcolor4eb8ff{color:#4eb8ff;}
.textcolor828282{color:#828282;}
.textcoloree6909{color:#ee6909;}
.textcolorff6600{color:#ff6600;}
.textcolor2ba6ff{color:#2ba6ff;}
.textcolorff4e00{color:#ff4e00;}
.textcolor31849B{color:#31849B;}
.textcolorc00000{ color:#c00000;}
.textcolorf00{ color:#f00;}
.blueText01{ color:#1a51ab;}
 
.z-indexNormal{ z-index:100;}

.margin-top2{ margin-top:2px;}
.margin-top5{ margin-top:5px;}
.margin-topf2{ margin-top:-2px;}
.margin-top8{ margin-top:8px;}
.margin-top10{ margin-top:10px;}
.margin-top15{ margin-top:15px;}
.margin-top20{ margin-top:20px;}
.margin-top26{ margin-top:26px;}
.margin-top23{ margin-top:23px;}
.margin-top24{ margin-top:24px;}
.margin-top25{ margin-top:25px;}
.margin-top30{ margin-top:30px;}
.margin-top40{ margin-top:40px;}
.margin-top35{ margin-top:35px;}
.margin-top50{ margin-top:50px;}

.margin-bottom40{ margin-bottom:40px;}
.margin-bottom35{ margin-bottom:35px;}
.margin-bottom30{ margin-bottom:30px;}
.margin-bottom32{ margin-bottom:32px;}
.margin-bottom20{ margin-bottom:20px;}
.margin-bottom25{ margin-bottom:25px;}
.margin-bottom10{ margin-bottom:10px;}
.margin-bottom8{ margin-bottom:8px;}
.margin-bottom12{ margin-bottom:12px;}
.margin-bottom15{ margin-bottom:15px;}
.textIndet{ text-indent:24px;}
  
 img{ border:0;}
 
.space05{ clear:both; height:5px; line-height:5px; width:100%; overflow:hidden;}
.space07{ clear:both; height:7px; line-height:7px; width:100%; overflow:hidden;}
.space10{ clear:both; height:10px; line-height:10px; width:100%; overflow:hidden;}
.space11{ clear:both; height:10px; line-height:10px; width:100%; overflow:hidden;}
.space12{ clear:both; height:10px; line-height:12px; width:100%; overflow:hidden;}
.space15{ clear:both; height:15px; line-height:15px; width:100%; overflow:hidden;}
.space18{ clear:both; height:18px; line-height:18px; width:100%; overflow:hidden;}
.space20{ clear:both; height:20px; line-height:20px; width:100%; overflow:hidden;}
.space25{ clear:both; height:25px; line-height:25px; width:100%; overflow:hidden;}
.space30{ clear:both; height:30px; line-height:30px; width:100%; overflow:hidden;}
.space33{ clear:both; height:30px; line-height:33px; width:100%; overflow:hidden;}
.space38{ clear:both; height:20px; line-height:20px; width:100%; overflow:hidden;}
.space28{ clear:both; height:28px; line-height:28px; width:100%; overflow:hidden;}
.space50{ clear:both; height:50px; line-height:50px; width:100%; overflow:hidden;}
.distance170{height:170px;}
.distance80{height:80px;}
.distance100{ height:100px;}

.overflowhiden{overflow:hidden;}

.width96{width:90px;}
.width43{width:43px;}
.width17{width:8px;}
.width250{width:250px;}
.width260{width:260px;}
.width262{width:262px;}
.width950{width:950px;}
.width990{width:990px;}
.width400{width:400px;}
.width550{width:550px;}
.width432{width:432px;}
.width710{width:710px;}

.listli_lineborder{ border-bottom:1px solid #e0e0e0;}
.bordernone{border:none;}
.bottomline_dot{border-bottom:1px dashed #d9d9d9;}
.bottomdashedccc{border-bottom:1px dashed #ccc;}
.borderbottomd8d8d8{ border-bottom:1px solid #d8d8d8;}

.height32{ height:32px; line-height:32px;}
.height26{ height:26px; line-height:26px;}
.height170{ height:170px; line-height:170px;}
.backcolorgrey{background-color: grey}
.backcolore8{background-color: #e8e8e8}
