---
layout: default
css: 
    - /css/jquery.shadow.css

js: 
    - /js/slide.js
    - /js/jquery.shadow.js
---

		<div id="slide" class="ui-grid-24 ui-grid-right">
		<div class="focus cnt box-border margin-bottom10">
					<div class="focuspic">{% for slpost in site.categories.slides limit:7 %}
						<div class="indexbanner"><a target="_blank" href="{% if slpost.redirect %}{{slpost.redirect}}{% else %}{{ slpost.url }}{% endif %}" title="{{slpost.title}}"><img width="945" height="280" alt="{{ slpost.alt }}" src="{{ slpost.big }}"></a></div>{% endfor %}
					</div><!--focuspic end-->			
				</div>
				<div class="scrollbox cnt backcolore8">
					<div id="prev" class="fn-left scrollbtn disabled"></div>
					<div class="fn-left scrollpic">
						<ul>{% for slpost in site.categories.slides %}							
							<li{%if forloop.first == true %} class="current"{%endif %}><a target="_blank" href="{% if slpost.redirect %}{{slpost.redirect}}{% else %}{{ slpost.url }}{% endif %}" title="{{ slpost.title }}"><img width="150" height="90" alt="{{ slpost.alt }}" src="{{ slpost.small }}"></a></li>{% endfor %}
						</ul>
					</div>
					<div id="next" class="fn-right scrollbtn"></div>
				</div><!--scrollbox end-->
	
		</div>	
			
			<div id="course" class="ui-grid-24 ui-grid-right">
				<div class="ui-grid-24 ui-grid-right height32 box-border">
				课程中心
				</div>		
				<div class="ui-grid width710 fn-right ui-grid-right ui-grid-bottom">
				   <div id="eventCalendarScroll" class="fn-right"></div>
				    
					<script src="/js/jquery.eventCalendar.js" type="text/javascript" charset="utf-8"></script>
					<script type="text/javascript">  
					$(document).ready(function() {  
						$("#eventCalendarScroll").eventCalendar({
							eventsjson: '/json/course.json',
							eventsScrollable: false,
							showDescription: false,
							cacheJson: false,
							eventsLimit: 3,
							monthNames: [ "一月", "二月", "三月", "四月", "五月", "六月","七月", "八月", "九月", "十月", "十一月", "十二月" ],
							dayNames: [ '周日','周一','周二','周三', '周四','周五','周六'  ],
							dayNamesShort: [ '日','一','二','三', '四','五','六' ],		
							txt_noEvents: "该时段没有课程",
							txt_SpecificEvents_prev: "",
							txt_SpecificEvents_after: "课程：",
							txt_next: "下一月",
							txt_prev: "上一月",
							txt_NextEvents: "近期课程",
							txt_GoToEventUrl: "查看详情"
						});  
					});  
					</script>
				</div>
				<div class="fn-right margin-right10">
					<img src="images/course-logo.jpg" width="230px" height="200">
				</div>
			</div>
			
			<div id="news" class="ui-grid-24 ui-grid-right box-border">
				<div class="ui-grid-24 ui-grid-right ui-grid-bottom  height32">
				最新动向
				</div>
				<div class="clearDiv">
				<ul id="newslist">{% for nspost in site.categories.news limit:5 %}					
					<li><span>{{ nspost.date| date:"%Y-%m-%d"}}</span><a href="{{ nspost.url}}" title="{{nspost.title}}" target="_blank">{{nspost.title}}</a></li>{% endfor %}
				</ul>
				</div>
			</div>

			<div id="about" class="ui-grid-24 ui-grid-right box-border">
				<h2>
				关于恋爱艺术
				</h2>{% for abpost in site.categories.about %}					
					<div class="intro ui-grid-right ui-grid-bottom">
						<p>{{ abpost.description }}<a href="/about" title="{{ abpost.title}}>">查看详情...</a></p>
					</div>{% endfor %}
			</div>
			<div id="teacher" class="ui-grid-24 ui-grid-right box-border">
				<div class="ui-grid-24 ui-grid-right ui-grid-bottom  height32">
				课程导师
				</div>
				<div class="ui-grid-24 ui-grid-right ui-grid-bottom">
					<ul class="techerlist margin-left35">{% for tcpost in site.categories.teacher limit:4 %}
						<li class="margin-left15{%if forloop.first == true %} margin-left0{%endif %}">
							<img src="{{tcpost.icon}}" class="margin-left10"/>
							<a href="{{ tcpost.url }}" title="{{ tcpost.title }}"><img src="{{tcpost.avatar}}"  class="margin-left25" /></a>
							<h2>{{ tcpost.title }}</h2>
							<span>{{ tcpost.description }}</span>
						</li>{% endfor %}
					</ul>
				</div>
	
			</div>
			
			<div id="ad" class="ui-grid-24 ui-grid-right">
				<div class="ui-grid-11"><img src="/images/ad1.jpg"/></div>
				<div class="bottom-search ui-grid-13 ui-grid-right">
					<div  class="margin-top50 margin-left20">
					<form action="http://www.google.com/cse" id="cse-search-box">
						<div>
							<input type="hidden" name="cx" value="013327025781380964119:xva-e16cmrw">
							<input type="hidden" name="ie" value="UTF-8"><input type="text" name="q" class="googlesb fl" style="margin-left:1px;width:230px;height:14px;outline:none;">
							<input type="submit" name="sa" value="搜索" class="fr" style="margin:0 0 0 4px;">
						</div>
					</form>
					<!--<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>-->
				</div>
				</div>
				<img src="/images/ad2.jpg" class="cnt"/>
			</div>
			
			<script type="text/javascript"> 			
				$(document).ready(function() {		
					$('#notice').shadow('lifted');
			});
			</script> 