---
layout: default
---

		<div id="slide" class="ui-grid-24 ui-grid-right">
				<div class="focus cnt box-border margin-bottom10">
					<div class="focuspic">
					{% for post in site.posts %}
						{% if post.category == 'slides' %}
							<div class="indexbanner"><a target="_blank" href="{{post.redirect}}" title="{{post.title}}"><img width="945" height="280" alt="{{ post.alt }}" src="{{ post.big }}"></a></div>
						{% endif %}
					{% endfor %}
					</div><!--focuspic end-->			
				</div>
				<div class="scrollbox cnt backcolore8">
					<div id="prev" class="fn-left scrollbtn disabled"></div>
					<div class="fn-left scrollpic">
						<ul>
						{% for post in site.posts %}
							{% if post.category == 'slides' %}
							<li{%if forloop.first == true %} class="current"{%endif %}><a target="_blank" href="{{ post.redirect }}" title="{{ post.title }}"><img width="150" height="90" alt="{{ post.alt }}" src="{{ post.small }}"></a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
					<div id="next" class="fn-right scrollbtn"></div>
				</div><!--scrollbox end-->
	
			</div>	
			
			<div id="course" class="ui-grid-24 ui-grid-right">
				<div class="ui-grid-24 ui-grid-right height32 box-border">
				课程中心
				</div>				

				<div class="ui-grid width710 fn-right ui-grid-right ui-grid-bottom">
				   <div id="eventCalendarScroll" class="fn-right"></div>
					<script type="text/javascript">  
					$(document).ready(function() {  
						$("#eventCalendarScroll").eventCalendar({
							eventsjson: 'file.json',
							eventsScrollable: false,
							showDescription: false,
							cacheJson: false,
							eventsLimit: 3,
							monthNames: [ "一月", "二月", "三月", "四月", "五月", "六月","七月", "八月", "九月", "十月", "十一月", "十二月" ],
							dayNames: [ '周日','周一','周二','周三', '周四','周五','周六'  ],
							dayNamesShort: [ '日','一','二','三', '四','五','六' ],		
							txt_noEvents: "该时段没有课程",
							txt_SpecificEvents_prev: "",
							txt_SpecificEvents_after: "课程：",
							txt_next: "下一月",
							txt_prev: "上一月",
							txt_NextEvents: "近期课程",
							txt_GoToEventUrl: "查看详情"
						});  
					});  
					</script>
				</div>
				<div class="fn-right margin-right10">
					<img src="images/course-logo.jpg" width="230px" height="200">
				</div>
			</div>
			
			<div id="news" class="ui-grid-24 ui-grid-right box-border">
				<div class="ui-grid-24 ui-grid-right ui-grid-bottom height32">
				最新动向
				</div>
				<div class="clearDiv">
				<ul id="newslist">
				{% for post in site.posts %}
					{% if post.category == 'news' %}
					<li><span>{{ post.date| date:"%Y-%m-%d"}}</span><a href="{{ post.url}}" title="{{post.title}}" target="_blank">{{post.title}}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
				</div>
			</div>

			<div id="about" class="ui-grid-24 ui-grid-right box-border">
				<h2>
				关于恋爱艺术
				</h2>
				{% for post in site.posts %}
					{% if post.category == 'about' %}
					<div class="intro ui-grid-right ui-grid-bottom">
						<p>{{ post.description }}<a href="{{ post.url }}" title="{{ post.title}}>">查看详情...</a></p>
					</div>
					{% endif %}
				{% endfor %}
			</div>
			<div id="teacher" class="ui-grid-24 ui-grid-right box-border">
				<div class="ui-grid-24 ui-grid-right ui-grid-bottom height32">
				课程导师
				</div>
				<div class="ui-grid-24 ui-grid-right ui-grid-bottom">
					<ul class="techerlist margin-left20">
						{% for post in site.posts %}
							{% if post.category == 'teacher' %}
							<li>
							<img src="{{post.icon}}" class="margin-left10"/>
							<a href="{{ post.url }}" title="{{ post.title }}"><img src="{{post.avatar}}"  class="margin-left25" /></a>
							<h2>{{ post.title }}</h2>
							<span>{{ post.description }}</span>
						</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
	
			</div>
			
			<div id="ad" class="ui-grid-24 ui-grid-right">
				<div class="ui-grid-11"><img src="/images/ad1.jpg"/></div>
				<div class="bottom-search ui-grid-13 ui-grid-right">
					<div  class="margin-top50 margin-left20">
					<form action="http://www.google.com/cse" id="cse-search-box">
						<div>
							<input type="hidden" name="cx" value="013327025781380964119:xva-e16cmrw">
							<input type="hidden" name="ie" value="UTF-8"><input type="text" name="q" class="googlesb fl" style="margin-left:1px;width:230px;height:14px;outline:none;">
							<input type="submit" name="sa" value="搜索" class="fr" style="margin:0 0 0 4px;">
						</div>
					</form>
					<!--<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>-->
				</div>
				</div>
				<img src="/images/ad2.jpg" class="cnt"/>
			</div>