<div id="foot" class="clearDiv">
		<div id="foot-bar">			
		</div>	
		<div class="width950 cnt">
			<div id="footer" class="ui-grid-24 ui-grid-right ui-grid-bottom height32">
					<div class="width400 cnt">
						<ul class="cnt">
							<li><a href="#">关于我们</a></li>
							<li><a href="#">广告投放</a></li>
							<li><a href="#">版权声明</a></li>
							<li><a href="#">友情链接</a></li>
							<li><a href="#">加入我们</a></li>
							<li><a href="#">咨询热线</a></li>
						</ul>
					</div>					
					<div id="copyright" class="clearDiv">Copyright &copy; 2012 恋爱艺术(www.loveartcn.com) 版权所有 All Rights Reserved.</div>
			</div>	
		</div>
	</div>