<div id="rightColumn" class="ui-grid-7 ui-grid-right ui-grid-bottom">
	<div class="width262 cnt">
		<a href="/course/project-pua" title="PUA成长计划">
		<img src="/images/sidebar-ad1.jpg" width="260px" alt="PUA成长计划"/>
		</a>
	</div>
	<div class="margin-top5 width262 cnt">
		<a href="/course/love-decode" title="恋爱解码">
		<img src="/images/decode-sidebar.jpg" width="260px" alt="恋爱解码"/>
		</a>
	</div>
	<div class="margin-top5 width262 cnt">
		<h2>推荐阅读</h2>
		<ul>
		<li><a href="/doc/love-decode">《恋爱解码》公开版</a></li>
		</ul>
	</div>
</div>