---
layout: post
category: course
title: PUA成长计划
description: 夜店和daygame
type: 课程介绍
---

{% for i in (1..15) %}
<img class="lazy" src="/images/dot.gif" data-original="http://loveartcn.com/course/projectpua_{{i}}.png"/>
{% endfor %}

<h2>课程信息：</h2>
	<ul id="postlist">
	{% for post in site.categories.course %}					
		{% if post.coursename == 'projectpua' and post.url != page.url %}
			<li><span>{{ post.date| date:"%Y-%m-%d"}}</span><a href="{{ post.url}}" title="{{post.title}}" >{{post.title}}</a></li>
			{% endif %}
		{% endfor %}
</ul>

<script src="/js/jquery.lazyload.js" type="text/javascript"></script>
<script type="text/javascript">
// 说明请看 http://www.appelsiini.net/projects/lazyload 
$("img.lazy").lazyload();
</script>



