---
layout: default
---
<div class="path height32 clearDiv">您现在的位置：<a href="/" title="恋爱工作室">恋爱工作室</a>&raquo;
	{% case page.category %}
		{% when 'news' %}<a href="/news" title="最新动向">最新动向</a>
		{% when 'about' %}<a href="/about" title="关于恋爱艺术">关于恋爱艺术</a>
		{% when 'teacher' %}<a href="/teacher" title="课程导师">课程导师</a>
		{% when 'course' %}<a href="/course" title="课程信息">课程信息</a>
		{% else %}{{ page.title }}{% endcase %}{% if page.date %}&raquo;正文{% endif %}{% if page.type =='课程介绍' %}&raquo;{{ page.title }}{% elsif page.type == "目录" %}&raquo;目录 {% endif %}
</div>
<div id="leftColumn" class="ui-grid-17">
	<div class="article">	
		<h2>{{ page.title}}</h2>
		{% unless page.type =='课程介绍' %}<div class="post-info">{{ page.date | date: "%Y年%m月%d日"}} 来源：{{ page.source}}</div>{% endunless %}
		<!-- JiaThis Button BEGIN -->
		<div class="jiathis_style">
		<span class="jiathis_txt">分享到：</span>
		<a class="jiathis_button_qzone">QQ空间</a>
		<a class="jiathis_button_tsina">新浪微博</a>
		<a class="jiathis_button_tqq">腾讯微博</a>
		<a class="jiathis_button_renren">人人网</a>
		<a href="http://www.jiathis.com/share?uid=1558027" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
		<a class="jiathis_counter_style"></a>
		</div>
		<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1558027" charset="utf-8"></script>
		<!-- JiaThis Button END -->	
		<div class="entry clearDiv">		
		{{ content }}			
		</div>
	</div>
	
	{% if page.coursename == 'projectpua' %}
	<div class="clearDiv relative-post">
		<h2>相关课程信息：</h2>
			<ul id="postlist">
			{% for post in site.categories.course %}					
				{% if post.coursename == 'projectpua' and post.url != page.url %}
				<li><span>{{ post.date| date:"%Y-%m-%d"}}</span><a href="{{ post.url}}" title="{{post.title}}">{{post.title}}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
	</div>
	{% elsif page.coursename == 'decode' %}
	<div class="clearDiv relative-post">
		<h2>相关课程信息：</h2>
			<ul id="postlist">{% for post in site.categories.course %}					
				{% if post.coursename == 'decode' and post.url != page.url %}<li><span>{{ post.date| date:"%Y-%m-%d"}}</span><a href="{{ post.url}}" title="{{post.title}}" >{{post.title}}</a></li>{% endif %}{% endfor %}
			</ul>
	</div>
	{% elsif page.relatedpost %}
	<div class="clearDiv relative-post">
		<h2>相关文章：</h2>
	</div>
	{% endif %}
	
	<div class="page-navigation clearDiv">
		
	</div>
	
	<script type="text/javascript">
$(document).ready(function() {

		$.getJSON("/json/{{page.category}}.json",function(data){
			var content="<ul>";
			$.each(data,function(i,item){
				if(item.url=="{{page.url}}"){
					if(data[i+1])
						content += "<li class='fn-left'><a href='"+ data[i+1].url + "' title='前一篇：" + data[i+1].title +"'>&laquo;前一篇</a></li>";
					if(data[i-1])
						content += "<li class='fn-right'><a href='"+ data[i-1].url + "' title='后一篇：" + data[i-1].title +"'>&raquo;后一篇</a></li>";
				}
			});			
			content += "</ul>";			
			$(".page-navigation").html(content);
		});
		
	});
</script>

	<div class="comment">
		<!-- Duoshuo Comment BEGIN -->
			<div class="ds-thread" data-thread-key="" 
			data-title="" data-author-key="" data-url=""></div>
			<script type="text/javascript">
			var duoshuoQuery = {short_name:"lovegzs"};
			(function() {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';ds.async = true;
				ds.src = 'http://static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0] 
				|| document.getElementsByTagName('body')[0]).appendChild(ds);
			})();
			</script>
		<!-- Duoshuo Comment END -->
	</div>
</div>
{% include sidebar.html %}